
.kvp-form {
  
  &__form {
    width: 100%;
    display: inline-block;
    vertical-align: top;

    button {
      margin-left: 4%;
      max-width: 12%;
    }
  }

  &__table {
    width: 100%;
    display: inline-block;
    vertical-align: top;

    table {
      width: 100%;
    }

    &__row {
      .buttons {
        float:right;
        display: flex;

        .flex-vert {
          display: flex;
          flex-direction: column;

          padding-right: 4px;
        }
      }

      td.text {
        border-bottom: 1px solid #dee2e6;
        margin: 0px 8px;

        &:first-child {
          text-transform: uppercase;
          text-align: right;
        }
      }

      &.form {
        td.text {
          border-bottom: none;
        }
      }
    }

    .divider {
      text-align: center;
      color: #dee2e6;
    }
  }

  .cf-form-input {
    display: inline-block;
    padding: 2px;
  }

  .error {
    color: red;    
  }
}

.disabled {
  .kvp-form {
    cursor: wait !important;

    a, input, button {
      cursor: wait !important;
      color: gray !important;
    }
  }
}