#wm-logo {
  display: none;
}

html,
body,
#react-root,
#wrapper {
  height: 100%;


  .col-10,
  .col-1 {
    padding: 0;
  }
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.clickable {
  cursor: pointer;
}


.dice {
  // https://stackoverflow.com/a/18272742/2192243
  -webkit-transform: translate3d(0,0,0);
}

.die {
  z-index: -1;
}

.hint {
  color: #542A44;
  animation: fadeindelay 5s;
  font-size: 12px;
}

.hints {
  height: 48px;
}

.didFarkleWrapper {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  animation: fadein 1s;
  color: #542A44;
}

.dice-row {
  margin-bottom: auto;
  position: sticky;
}

.kept-dice {
  flex-direction: column;
  margin-top: 8px
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeindelay {
  0%    { opacity: 0; }
  80%    { opacity: 0; }
  100%   { opacity: 1; }
}

.controls-row {
  padding: 0 20px;
  margin-bottom: 32px;
  height: 84px;
  margin-top: auto;

  .btn {
    width: 100%;
    margin: 4px;
    padding: 4px;
  }

  .scores {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.btn.btn-danger {
  background-color: #EF5E24;
  border-color: #EF5E24;

  &:hover {
    background-color: #f06e39;
    border-color: #f06e39;
  }
}

.loader {
  height: 4px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ddd;
}
.loader:before{
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 4px;
  background-color: #2980b9;
  animation: loading 2s linear infinite;
}

.errors {
  color: red;
}

.warnings {
  color: orange;
}

@keyframes loading {
  from {left: -200px; width: 30%;}
  50% {width: 30%;}
  70% {width: 70%;}
  80% { left: 50%;}
  95% {left: 120%;}
  to {left: 100%;}
}

